// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.fa,
.fas {
  font-family: FontAwesome, FontAwesome5FreeSolid;
  font-weight: 300;
}

.far {
  font-family: FontAwesome5Free, FontAwesome5FreeRegular;
  font-weight: 400;
}